<section>
  <h2 class="subtitle text-center">Serviços Adicionais</h2>
  <div class="add-container">
    <div class="row">
      <ul class="row inline-list add small-12 columns">
        <li class="medium-3 columns text-center">
          <i class="icon-oven"></i>
          <h3>Fogão</h3>
          <span>Limpeza de fogões, fornos, e componentes relacionados</span>
        </li>
        <li class="medium-3 columns text-center">
          <i class="icon-refrigerator"></i>
          <h3>Geladeira</h3>
          <span>Limpeza de geladeiras e frizers</span>
        </li>
        <li class="medium-3 columns text-center">
          <i class="icon-window"></i>
          <h3>Janelas</h3>
          <span>Limpeza de janelas e vitros</span>
        </li>
        <li class="medium-3 columns text-center">
          <i class="icon-iron"></i>
          <h3>Passar Roupas</h3>
          <span>Passar roupas (cobrado por hora)</span>
        </li>
      </ul>
    </div>
  </div>
</section>
