<section class="billboard">
  <div class="display">
    <h1>Contrate um serviço de limpeza de <br>forma prática <strong>online</strong></h1>
  </div>
  <button type="button" class="button bill-button" name="button">Contratar</button>
</section>
