<section class="billboard">
  <div class="display">
    <h1>Contrate um serviço de limpeza de <br>forma prática <strong>online</strong></h1>
  </div>
  <%= link_to 'Contratar', 'cadastro/novo', class: 'button bill-button' %>
</section>
