<section class="row prices-table">
  <h2 class="subtitle text-center">Quanto custa?</h2>
    <div>
      <ul class="medium-12 columns price-budget text-center">
        <li class="medium-4 columns price item-1">
            <h3>Light Limpe</h3>
            <strong>R$ 99,90</strong>
            <ul class="disclaimer">
              <li>Residências de até 80m</li>
              <li>Serviços rapidos</li>
            </ul>
            <span>Possível acrescentar adicionais</span>
            <ul class="add">
              <li>Limpeza de Janelas</li>
              <li>Geladeiras</li>
              <li>Janelas</li>
              <li>Passar Roupas</li>
            </ul>
        </li>
        <li class="medium-4 columns price item-2">
            <h3>Top Limpe</h3>
            <strong>R$ 129,90</strong>
            <ul class="disclaimer">
              <li>Residências de até 80m</li>
              <li>Serviços rapidos</li>
            </ul>
            <span>Possível acrescentar adicionais</span>
            <ul class="add">
              <li>Limpeza de Janelas</li>
              <li>Geladeiras</li>
              <li>Janelas</li>
              <li>Passar Roupas</li>
            </ul>
        </li>
        <li class="medium-4 columns price item-3">
            <h3>Hard Limpe</h3>
            <strong>R$ 189,90</strong>
            <ul class="disclaimer">
              <li>Residências de até 80m</li>
              <li>Serviços rapidos</li>
            </ul>
            <span>Possível acrescentar adicionais</span>
            <ul class="add">
              <li>Limpeza de Janelas</li>
              <li>Geladeiras</li>
              <li>Janelas</li>
              <li>Passar Roupas</li>
            </ul>
        </li>
      </ul>
    </div>
</section>
