<section class="row steps-container">
  <h2 class="subtitle text-center">Como Contratar</h2>
  <ul>
    <li>Crie seu cadastro através do formulário</li>
    <li>Selecione o tipo de serviço e seus adicionais</li>
    <li>Efetue o pagamento com cartão de credito, boleto ou trasferência atraves do pagseguro</li>
    <li>Faça o agendamento e aguarde o profissional de limpeza Easy Limpe</li>
  </ul>
</section>
