<h1>Visitor#index</h1>
<p>Find me in app/views/visitor/index.html.erb</p>
do que parece!
Ponto da embreagem
22/03/2016
Acontece nas melhores famílias: a pessoa acaba de passar na prova prática para tirar a CNH e vai pegar o carro novo para dirigir. E aí surge a dificuldade na hora de achar o ponto da embreagem, principalmente se o carro for diferente daquele da autoescola.

É normal sentir essa dificuldade se você é motorista de primeira viagem ou ainda se pega um carro 
